@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
body {
	background: #1f1e1d;
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}
.Username{
	color: #000;
	font-size: 1.5rem;
	padding:0.5rem;
	font-weight: 700;
	
}
header {
	text-align: center;
	background: #000;
	padding-top: 2rem;
}
header h1 {
	font-size: 5rem;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
}
.article-meta {
	color: #fff;
	border-bottom: 1px solid #333333;
	border-top: 1px solid #333333;
}
.nav-block{
  display: inline-block;
}
.section {
	padding: 4rem 2rem;
	background: #000;
}
.link {
	color: #bc4e9c;
	border-radius: 25px;
	font-size: 1.5rem;
	display: inline-block;
	padding: 3px 14px;
	margin: 4px 0;
}

.container {
	width: 80%;
	margin: auto;
}
.appContainer {
  width: 80%;
	margin: auto;
}
.flex_div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.content {
	padding: 20px;
	background: #1f1e1d;
}

.content p {
	color: rgba(255, 255, 255, 0.5);
	line-height: 26px;
	font-weight: 400;
  z-index: 1;
}
.content label{
  color: #fff;
  margin-top: 0;
}
.content h3 {
	color: #fff;
	margin-top: 0;
}
.content h2 {
  color: #ecf0f1;
  margin-top: 0;
}
.spacer {
	height: 20px;
}

.container {
	display: grid;
	grid-template-rows: 20%, 20%, 20%, 20%, 20%,;
	grid-template-columns: 30%, 30%, 15%, 15%;
}

.articleTitle {
	grid-row: 1;
	grid-column: 1/5;
}

.articleImg {
	grid-area:  3 / 1 ;
	z-index: 1;
	width: 100%;
	height: auto;
}
.articleAuthor {
	grid-area:  2 / 1  ;
	z-index: 1;
}
.articleTopic {
	grid-area:  4 / 1  ;
	z-index: 1;
}
.articleBody {
	grid-area:  2 / 2 / 4 / 4  ;
	z-index: 1;
	padding: 2rem;
}
.articleCommentCount {
	grid-area:  4 / 3  ;
	z-index: 1;
}
.DTG {
	grid-area:  5 / 1  ;
	z-index: 1;
}
.votes {
	grid-area:  4 / 2  ;
	z-index: 1;
}

.button-4 {
	grid-area: 5/3;
	position: relative;
    left: 15%;
	height:50%;
  appearance: none;
  background-color: #f3ece1;
  border: 2px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  width: 70%;
  margin: 5px;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #f8ede5;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.list_comment {
	border: 2px solid #2f5061;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding:1rem;
}
* {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.85);
    background-color: #f9f9f9;

}
.topicHeader{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-right: 2rem;
}
.topicArea{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-right: 5rem;
}
.topicButton{
  width:80%;
  margin-top: 1rem;
  font-size: 14px;
    padding: 4px 8px;
    color: #fff;
    background-color: #1f1e1d;
    border:none
}
li{
	list-style: none;
}
.topicButton h2 {
  color:white;
}
.topicButton p {
  color: rgb(213, 213, 213);
}
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
button:hover,
button:focus,
button:active {
    cursor: pointer;
    background-color: #ecf0f14e;
	
}

.no_comment{
	z-index: 1;
	border: 3px solid black;
}
.voteDownButton{
	grid-area: 5/2;
	width: 50%;
  height: 50%;
	z-index: 1;
	margin-left: 50%;
  
}
.voteUpButton{
	grid-area: 5/2;
  height: 50%;
	z-index: 1;
	width: 50%;
}