@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid red;
	font-family: Roboto, sans-serif;
}

body {
	background-color: #d1c4c0;
	max-width: 100%;
}
header {
	width: 100vw;
	height: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px 10%;
	background-color: #b7cfdc;
}

.appContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.subheader {
    display:flex;
    justify-content: center;
    text-align: center;
}

.list_article {
    list-style: none;
    border: 2px solid rgb(255, 213, 0);
    margin: 1rem;
}


.navLinks li {
	font-size: 24px;
	color: #2f5061;
	cursor: pointer;
	display: inline-block;
	padding: 0 3rem;
	transition: all 0.5s ease 0s;
}

.navLinks li:hover {
	color: black;
}

.container {
	display: grid;
	grid-template-rows: 20%, 20%, 20%, 20%, 20%,;
	grid-template-columns: 30%, 30%, 15%, 15%;
}

.articleTitle {
	grid-row: 1;
	grid-column: 1/5;
}

.articleImg {
	grid-area:  3 / 1 ;
	z-index: 1;
	width: 100%;
	height: auto;
}
.articleAuthor {
	grid-area:  2 / 1  ;
	z-index: 1;
}
.articleTopic {
	grid-area:  4 / 1  ;
	z-index: 1;
}
.articleBody {
	grid-area:  2 / 2 / 4 / 4  ;
	z-index: 1;
	padding: 2rem;
}
.articleCommentCount {
	grid-area:  4 / 3  ;
	z-index: 1;
}
.DTG {
	grid-area:  5 / 1  ;
	z-index: 1;
}
.votes {
	grid-area:  4 / 2  ;
	z-index: 1;
}